/* textarea {
    width:100%;
}

input[type=submit] {
    margin-top:10px;
    border-radius:10px;
    border-color:#eee;
    color : purple;

}
.re {
    margin:0 auto;
    text-align:center;
}

h1 {
    color:skyblue;
    text-align:center;
} */
.comment {
    border-top:dotted 1px #ddd;
    font-sze: 0.7em;
    }
